<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Simple Test Suite">
    <test name="Test Classes in parallel" thread-count="3" parallel="classes">
        <classes>
            <class name="failingTest.FailingTest"> </class>
            <class name="keyPresses.KeyPressesTest"> </class>
            <class name="login.LoginTest"> </class>
        </classes>
    </test>
</suite>